@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
}

html,
body {
    min-height: 100dvh;
    width: 100vw;
    margin: 0;

    display: flex;
    justify-content: center;

    overflow-y: auto;
    scrollbar-width: none;

    background: url(./assets/Background.jpg) no-repeat fixed center;
    background-size: cover;
}

#container {
    height: 100%;
    width: 100%;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(15px);
}

#container #Intro {
    width: 100%;
    text-align: center;
}

#container #InputArea {
    width: 75%;
    position: relative;

    padding: 5px 0 5px 20px;
    margin: 20px 0;

    background: rgb(225, 225, 225);
    border-radius: 25px;
    box-shadow: -2px 3px 10px rgba(255, 255, 255, 0.5);
}

#InputArea input {
    width: 85%;
    font-size: 0.9em;

    background-color: transparent;
    border: none;
    outline: none;
}

#InputArea input::placeholder {
    font-weight: 600;
}

#InputArea #Search {
    height: 50px;
    width: 50px;

    font-size: 1.2em;
    color: #fff;

    position: absolute;
    top: 50%;
    right: -5px;
    transform: translateY(-50%);

    background-color: #252525;
    border: none;
    border-radius: 100%;
    box-shadow: -3px 3px 8px rgba(0, 0, 0, 0.7), inset -1px 1px 10px rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

#container #Pages {
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
}

#Pages img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}

#Increase {
    padding: 10px 30px;
    display: none;

    color: #fff;
    background-color: #252525;
    border: none;
    border-radius: 10px;
    box-shadow: -3px 3px 8px #000, inset -1px 1px 10px rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

@media (max-width: 705px) {
    #container #Pages {
        width: 80%;
        margin: 100px auto 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px;
    }

    #Pages img {
        height: 200px;
    }
}

@media (max-width: 430px) {
    #container #Pages {
        width: 80%;
        margin: 100px auto 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px;
    }

    #Pages img {
        height: 150px;
    }
}